---

language: python

python:
  - "2.7"

sudo: false

install:
  - pip install netmiko
  - pip install gtextfsm
  - export PYTHONPATH=$PYTHONPATH:/home/travis/build/networktocode/ntc-templates/gtextfsm-0.2.1/textfsm
  - pip install ansible==1.9.2
  - pip install terminal
  - git clone https://github.com/networktocode/ntc-ansible.git


script:
  - python test-templates.py
