Value Filldown MODE (((\w+)(\s)?){1,})
Value ALIAS (\w+)
Value COMMAND ((\w+(\s|\S))+)

Start
  ^${MODE}\saliases: -> ALIAS

ALIAS
  ^${MODE}\saliases: -> ALIAS  
  ^\s+${ALIAS}\s+${COMMAND} -> Record