[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "ntc_templates"
version = "2.3.2"
description = "TextFSM Templates for Network Devices, and Python wrapper for TextFSM's CliTable."
authors = ["Network to Code <info@networktocode.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/networktocode/ntc-templates"

[tool.poetry.dependencies]
python = "^3.6"
textfsm = "^1.1.0"

[tool.poetry.dev-dependencies]
tox = "^3.21.0"
yamllint = "^1.25.0"
black = "^20.8b1"
pytest = "^6.2.1"
"ruamel.yaml" = "^0.16.12"
flake8 = "^3.8.4"

[tool.poetry.extras]
test = ["pytest"]

[tool.black]
line-length = 90
target-version = ['py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | venv
  | _build
  | buck-out
  | build
  | dist
)/
| test-templates\.py
'''
