Value Filldown VRF (\S+)
Value Filldown ROUTER_ID (\d+?\.\d+?\.\d+?\.\d+?)
Value Filldown LOCAL_AS (\d+)
Value Required BGP_NEIGH (\d+?\.\d+?\.\d+?\.\d+?)
Value NEIGH_AS (\d+)
Value STATE (\S+)
Value PFXRCD (\S+?\s+\S+?|\S+?)

Start
  ^BGP summary information for VRF ${VRF}
  ^Router identifier ${ROUTER_ID}, local AS number ${LOCAL_AS}
  ^\s*${BGP_NEIGH}\s+\S+\s+${NEIGH_AS}(\s+\d+?){4}\s+\S+\s+${STATE}\s+${PFXRCD} -> Record

