Value Filldown PROTOCOL (\S+\s\S+?|\w?)
Value Filldown NETWORK (\d+.\d+.\d+.\d+)
Value Filldown MASK (\d+)
Value DISTANCE (\d+)
Value METRIC (\d+)
Value DIRECT (directly)
Value List NEXT_HOP (connected|\d+\.\d+\.\d+\.\d+)
Value List INTERFACE (\S+)

Start
  ^\s+\S\s(\S+|\s+) -> Continue.Record
  ^\s+${PROTOCOL}\s+${NETWORK}/${MASK}\s+(?:\[${DISTANCE}/${METRIC}\]|is\s+${DIRECT})(?:.+?)${NEXT_HOP},\s+${INTERFACE}$$
  ^\s+via\s+${NEXT_HOP},\s+${INTERFACE}$$
