Value Required INTERFACE (\S+)
Value List IP_HELPER (\d+\.\d+\.\d+\.\d+|\S+)

Start
 ^DHCP
 ^\S -> Continue.Record
 ^Interface:\s+${INTERFACE}$$
 ^\s+DHCP Smart
 ^\s+DHCP\s+servers:\s+${IP_HELPER}$$
 ^\s+${IP_HELPER}$$
 ^$$
 ^. -> Error
