Value METHOD (Web|802.1x|Management|tacacs-accounting)
Value SUCCESSES (\d+)
Value FAILURES (\d+)


Start
  ^Auth Method Statistics -> AUTHMETHODSTATS

AUTHMETHODSTATS
  ^${METHOD}\s+${SUCCESSES}\s+${FAILURES} -> Record

EOF
