Value METHOD (\S+)
Value SUCCESSES (\d+)
Value FAILURES (\d+)


Start
  ^Auth Method Statistics -> authMethodStats

authMethodStats
  ^${METHOD}\s+${SUCCESSES}\s+${FAILURES} -> Record
  ^Method
  ^[-]+
  ^show -> EOF
  ^. -> Error
