Value IP (\d+.\d+.\d+.\d+)
Value MASK (\d+.\d+.\d+.\d+)
Value GATEWAY (\d+.\d+.\d+.\d+)
Value COST (\d+)
Value VLAN (\d+)
Value RTI (\S+)
Value RTF (\S+)
Value FLAGS (\S+)



Start
  ^show datapath route verbose -> ROUTEVERBOSE

ROUTEVERBOSE
  ^${IP}\s+${MASK}\s+${GATEWAY}\s+${COST}\s+${VLAN}\s+${RTI}\s+${RTF}\s+${FLAGS} -> Record
  ^${IP}\s+${MASK}\s+${GATEWAY}\s+${COST}\s+${VLAN}\s+${RTI}\s+${RTF} -> Record
  ^show rights -> EOF
