Value VLANID (\d+)
Value VLANNAME (\S.*?)
Value VLANTYPE (\S+)
Value VLANPROTOCOL (\S+)
Value VLANPID (\S+)
Value VLANACTIVE (\S+)
Value VLANIVLSVL (\S+)
Value VLANMGMT (\S+)
Value List VLANPORTMEMBERS (\S+)

Start
  ^Total\s+VLANs: -> Done
  ^\d+ -> Continue.Record
  ^${VLANID}\s+${VLANNAME}\s+${VLANTYPE}\s+${VLANPROTOCOL}\s+${VLANPID}\s+${VLANACTIVE}\s+${VLANIVLSVL}\s+${VLANMGMT}$$
  ^\t+Port Members:\s+${VLANPORTMEMBERS}$$
  ^\t+\s{14}${VLANPORTMEMBERS}$$


Done
