Value SW_BIN (\S+)
Value SW_VERSION (\S+)
Value BOOT_MONITOR_VERSION (.*)
Value HW (.*)
Value SERIAL (\S+)

Start
  ^\s+\(.+?\)\s+from\s+\S+\s+${SW_BIN}\s*$$
  ^\s*SW:\s+Version\s+${SW_VERSION}
  ^\s*Boot-Monitor.*,\s+Version:${BOOT_MONITOR_VERSION}\s*$$
  ^\s*Serial\s+#:\s+${SERIAL}\s*$$
  ^\s*HW:\s+${HW}\s*$$
