Value Required NEIGHBOR (\S+)
Value Required LOCAL_PORT (\S+)
Value Required HOLD_TIME (\d+)
Value Required CAPABILITY (\S+)
Value Required PORT_ID (\S+) 

Start
  ^Capability.*
  ^\s+\(.*
  ^Device\s+ID\s+Local\s+Intf\s+Hold-time\s+Capability\s+Port\s+ID\s*$$
  ^${DEVICE_ID}\s+${LOCAL_PORT}\s+${HOLD_TIME}\s+${CAPABILITY}\s+${PORT_ID} -> Record
  ^Total.*
  ^\s*$$
  ^. -> Error
