Value VERSION (\S[^\[]+)
Value UPTIME (.+)
Value LOCATION (\S+)
Value HARDWARE (.+)
Value BUILD_HOST (\S+)

Start
  ^Cisco IOS XR Software, Version ${VERSION} 
  ^Build\s+Information: -> Build_Info
  ^.+uptime is ${UPTIME}
  ^${HARDWARE}\s\(.*\) processor
  
#A VARIATION OF THE OUTPUT, EX. NCS PLATFORM
Build_Info
  ^\s+Built\sBy.+
  ^\s+Built\sOn.+
  ^\s+Buil[dt]\sHost.+:\s+${BUILD_HOST}
  ^\s+Workspace.+:\s\S+
  ^\s+Location.+:\s${LOCATION} -> Start
