Value Required INTERFACE (\S+)
Value SWITCHPORT (.+)
Value SWITCHPORT_MONITOR (.+)
Value MODE (\S+)
Value ACCESS_VLAN (\d+)
Value NATIVE_VLAN (\d+)
Value TRUNKING_VLANS (\S+)

Start
  ^Name: ${INTERFACE}
  ^  Switchport: ${SWITCHPORT}
  ^  Switchport Monitor: ${SWITCHPORT_MONITOR}
  ^  Operational Mode: ${MODE}
  ^  Access Mode VLAN: ${ACCESS_VLAN}
  ^  Trunking Native Mode VLAN: ${NATIVE_VLAN}
  ^  Trunking VLANs Allowed: ${TRUNKING_VLANS} -> Record
