Value NAME (.*)
Value DESCR (.*)
Value PID (\S+)
Value VID (\S+)
Value SN (\S+)

Start
  ^Name:\s+"${NAME}"\s*,\s+DESCR:\s+"${DESCR}"
  ^PID:\s+${PID}\s*,\s+VID:\s+${VID}\s*,\s+SN:\s+${SN} -> Record
  ^\s*$$
  ^.+ -> Error

