Value Required INTERFACE (\S+)
Value LINK_STATUS (\w+(\s?\w+))
Value PROTOCOL_STATUS (.*)
Value IP_ADDRESS (\d+\.\d+\.\d+\.\d+)
Value MASK (\d+)
Value List IP_HELPER (\d+\.\d+\.\d+\.\d+)

Start
  ^\S+ -> Continue.Record
  ^${INTERFACE} is ${LINK_STATUS}.*protocol is ${PROTOCOL_STATUS}
  ^\s+Internet address is ${IP_ADDRESS}/${MASK}
  ^\s+Helper\saddress(es|)\s(is|are)\s${IP_HELPER}\s*$$ -> HELPERS

HELPERS
  ^\s+${IP_HELPER}\s*$$
  ^\s+Directed -> Start
  ^.* -> Error
