Value Required DESTINATION_HOST (\S+)
Value MANAGEMENT_IP (.*)
Value PLATFORM (.*)
Value REMOTE_PORT (.*)
Value LOCAL_PORT (.*)
Value SOFTWARE_VERSION (.*)

Start
  ^Device ID: ${DESTINATION_HOST}
  ^Entry address\(es\): -> ParseIP
  ^Platform: ${PLATFORM},
  ^Interface: ${LOCAL_PORT},  Port ID \(outgoing port\): ${REMOTE_PORT}
  ^Version : -> GetVersion

ParseIP
  ^.*IP address: ${MANAGEMENT_IP} -> Start
  ^Platform: -> Start

GetVersion
  ^${SOFTWARE_VERSION} -> Record Start
