Value PORT (\S{0,9})
Value NAME (\S.+?)
Value STATUS (\S+)
Value VLAN (\S+)
Value DUPLEX (\S+)
Value SPEED (\S+)
Value TYPE (.+)

Start
  ^Port -> Begin

Begin
  ^(?=\s{0,9}${PORT}).{9}\s{20}${STATUS}\s+${VLAN}\s+${DUPLEX}\s+${SPEED}\s+${TYPE} -> Record
  ^(?=\s{0,9}${PORT}).{9}\s${NAME}\s{2}\s*${STATUS}\s+${VLAN}\s+${DUPLEX}\s+${SPEED}\s+${TYPE} -> Record
