Value NEIGHBOR (\S+)
Value LOCAL_INTERFACE (\S+\s\S+)
Value CAPABILITY (([A-Za-z]\s)*?[A-Za-z]?)
Value PLATFORM (\S+\s\S+|\S+)
Value NEIGHBOR_INTERFACE (\S+\s\S+)

Start
  ^Device.*ID -> CDP

CDP
  ^${NEIGHBOR}$$ -> CDP2
  ^${NEIGHBOR}\s+${LOCAL_INTERFACE}\s+\d+\s+${CAPABILITY}\s\s+${PLATFORM}\s+${NEIGHBOR_INTERFACE} -> Record

CDP2
  ^\s+${LOCAL_INTERFACE}\s+\d+\s+${CAPABILITY}\s\s+${PLATFORM}\s+${NEIGHBOR_INTERFACE} -> Record CDP
