Value Required ADDRESS ([A-Fa-f0-9]*:[A-Fa-f0-9]*:[A-Fa-f0-9:]*)
Value Required AGE ([-\d+]+)
Value Required MAC (\S+)
Value Required TYPE (\S+)
Value INTERFACE (\S+)

Start
  ^${ADDRESS}\s+${AGE}\s+${MAC}\s+${TYPE}\s+${INTERFACE} -> Record
