Value ADDRESS (\d+\.\d+\.\d+\.\d+)
Value INTERFACE (\w+(\d+|\d+/\d+|\d+/\d+/\d+))
Value HOLD (\d+)
Value UPTIME ((\d+:\d+:\d+|\d+\w\d+\w))
Value SRTT (\d+)
Value RTO (\d+)
Value Q_CNT (\d+)
Value SEQ_NUM (\d+)

Start
  ^.*\s+${ADDRESS}\s+${INTERFACE}\s+${HOLD}\s+${UPTIME}\s+${SRTT}\s+${RTO}\s+${Q_CNT}\s+${SEQ_NUM} -> Record