Value Required PROTOCOL (\S+)
Value Required ADDRESS (\d+\.\d+\.\d+\.\d+)
Value Required AGE ([-\d+]+)
Value Required MAC ([A-Fa-f0-9\:]{17})
Value Required TYPE (\S+)
Value INTERFACE (\S+)

Start
  ^Protocol\s+Address\s+Age \(min\)\s+Hardware Addr\s+Type\s+Interface
  ^${PROTOCOL}\s+${ADDRESS}\s+${AGE}\s+${MAC}\s+${TYPE}\s+${INTERFACE} -> Record
  ^${PROTOCOL}\s+${ADDRESS}\s+${AGE}\s+${MAC}\s+${TYPE} -> Record
  ^. -> Error
