Value NEIGHBOR (\S+)
Value LOCAL_INTERFACE (\S+)
Value NEIGHBOR_INTERFACE (\S+)

Start
  ^Device.*ID -> LLDP

LLDP
  ^${NEIGHBOR}$$ -> Continue
  ^${NEIGHBOR}\s+${LOCAL_INTERFACE}\s+\d+\s+\w+\s+${NEIGHBOR_INTERFACE} -> Record
  ^\s+${LOCAL_INTERFACE}\s+\d+\s+\w+\s+${NEIGHBOR_INTERFACE} -> Record
