Value BIA_MAC ([\da-zA-Z:]{17})
Value MAX_AP_NUM (\d+)
Value NAME (.*)
Value DESCR (.*)
Value PID ([\w\-]+)
Value VID (\w+)
Value SN (\w+)

Start
  ^Burned-in MAC Address\.+\s+${BIA_MAC}
  ^Maximum number of APs supported\.+\s+${MAX_AP_NUM}
  ^NAME:\s+"${NAME}"\s+,\s*DESCR:\s+"${DESCR}"
  ^PID:\s+${PID},\s*VID:\s+${VID},\s*SN:\s+${SN} -> Record
