Value IFACE (\S+)
Value GROUP (\d+)
Value PRIORITY (\d+)
Value PREEMPT (.)
Value STATE (\w+)
Value ACTIVE (\S+)
Value STANDBY (\S+)
Value VIRTUALIP (\S+)

Start
  ^${IFACE}\s+${GROUP}\s+${PRIORITY}\s+${PREEMPT}\s+${STATE}\s+${ACTIVE}\s+${STANDBY}\s+${VIRTUALIP} -> Record
