Value Required,Filldown NEIGHBOR (\S+)
Value Required LOCAL_INTERFACE (\S+)
Value HOLDTIME (\d+)
Value CAPABILITY ([\S+\s+]+?)
Value PLATFORM (\S+)
Value NEIGHBOR_INTERFACE (\S+)

Start
  ^Device.*ID -> CDP

CDP
  ^${NEIGHBOR}\s+${LOCAL_INTERFACE}\s+${HOLDTIME}\s+${CAPABILITY}\s+${PLATFORM}\s+${NEIGHBOR_INTERFACE}\s*$$ -> Record
  ^${NEIGHBOR}\s*$$
  ^\s+${LOCAL_INTERFACE}\s+${HOLDTIME}\s+${CAPABILITY}\s+${PLATFORM}\s+${NEIGHBOR_INTERFACE}\s*$$ -> Record


