Value PULL_INTERVAL (\d+)
Value IDX (\d+)
Value KEY_IDX (\d+)
Value SERVER (([\d1-9]+\.?){4})
Value STATUS (\w+ \w+)

Start
  ^\s+NTP Polling Interval\.*\s+${PULL_INTERVAL}s*$$
  ^\s+Index     NTP Key Index                  NTP Server -> NTP_Servers

NTP_Servers
  ^\s+${IDX}\s+${KEY_IDX}\s+${SERVER}\s+${STATUS} -> Record
