Value INTERFACE (.+?)
Value IP_ADDRESS (\S+)
Value INTF_STATE (Up|Down|Shutdown)
Value PROTO_STATE (Up|Down)
Value VRF_NAME (\S+)

Start
  ^${INTERFACE}\s+${IP_ADDRESS}\s+${INTF_STATE}\s+${PROTO_STATE}\s+${VRF_NAME} -> Record
