Value current_value (\d+)
Value major_threshold (\d+)
Value minor_threshold (\d+)
Value status (\S+)
Value module (\S+)
Value sensor ((\s|\S)+?)

Start
  ^Temperature
  ^-+
  ^Module\s+Sensor\s+MajorThresh\s+
  ^(\s+\(Celsius\))+
  ^${module}\s+${sensor}\s+${major_threshold}\s+${minor_threshold}\s+${current_value}\s+${status} -> Record
  ^\s+$$
  ^$$
  ^.* -> Error "LINE NOT FOUND"