Value Required NAME (\S+)
Value DEFAULT_RD (\d+:\d+|<not set>)
Value PROTOCOLS (\S+)
Value List INTERFACES (\S+)

Start
  ^\s+Name\s+Default RD\s+Protocols\s+Interfaces -> Start_record

Start_record
  ^\s{2}\S+ -> Continue.Record
  ^\s{60}\s+${INTERFACES}
  ^\s+${NAME}\s+${DEFAULT_RD}\s+${PROTOCOLS}\s+${INTERFACES}

