Value MAC_ADDR (([\d1-9a-f]{2}\:?){6})
Value IP_ADDR (([\d1-9]+\.?){4})
Value GROUP_NAME (\S+)
Value MULTICAST_IP (([\d1-9]+\.?){4})
Value STATUS (\w+)

Start
  ^Controllers configured in the Mobility Group -> Mobility_Controllers

Mobility_Controllers
  ^\s${MAC_ADDR}\s+${IP_ADDR}\s+${GROUP_NAME}\s+${MULTICAST_IP}\s+${STATUS}s*$$ -> Record
