Value Filldown VLAN_ID (\d+)
Value Required INTERFACE (\S+)
Value ROLE (\w+)
Value STATUS (\w+)
Value COST (\d+)
Value PORT_PRIORITY (\w+)
Value PORT_ID (\w+)
Value TYPE (.*)

Start
  ^VLAN(0*)?${VLAN_ID}
  ^${INTERFACE}\s+${ROLE}\s+${STATUS}\s+${COST}\s+${PORT_PRIORITY}.${PORT_ID}\s+${TYPE} -> Record
