Value INTERFACE (.+?)
Value MAC (.+?)
Value METHOD (.+?)
Value DOMAIN (.+?)
Value STATUS (.+?)
Value SESSION (\w+?)

Start
  ^Interface\s+MAC Address\s+Method\s+Domain -> Catch

Catch
  ^${INTERFACE}\s+${MAC}\s+${METHOD}\s+${DOMAIN}\s+${STATUS}\s+${SESSION}$$ -> Record
  ^.* -> Start
