Value NEIGHBOR (\S+)
Value INTERFACE (\S+)
Value UPTIME ((\S+(\s\S+)*))
Value EXPIRES (\S+)
Value DR (\d+)
Value PRI (\S+)
Value FLAGS ((\S+(\s\S+)*))

Start
  ^${NEIGHBOR}(\*)*\s+${INTERFACE}\s+${UPTIME}\s+${EXPIRES}\s+${DR}\s+(\(${PRI}\))?\s+${FLAGS} -> Record