Value PRODUCT (.+)
Value NAME (.+)
Value DATE (.+)
Value BUILD (.+)
Value VERSION (.+)
Value CPU (\S+)

Start
  ^.*[cC]rash Log File Header -> HEADER

HEADER
  ^\s*Product:\s+${PRODUCT}
  ^\s*Name:\s+${NAME}
  ^\s*Date:\s+${DATE}
  ^\s*Build:\s+${BUILD}
  ^\s*Version:\s+${VERSION}
  ^\s*Directory:.+
  ^\s*CPU:\s+${CPU} -> Record SLOTS

SLOTS
  ^.*[cC]rash Log File Header -> NoRecord