Value Filldown SLOTID (\S+)
Value Required PCB (\w+)
Value Required STATUS (\w+)
Value TEMPERATURE (\d+)

Start
  ^${SLOTID}\s+\: 
  ^${PCB}\s+\d+\s+\d+\s+\d+\s+${STATUS}\s+\d+\s+\d+\s+\d+\s+\d+\s+\d+\s+${TEMPERATURE} -> Record
