Value Required INTERFACE (\S+)
Value PORT_PRIORITY (\w+)
Value PORT_ID (\w+)
Value DESIGNATED_PORT_PRIORITY (\w+)
Value DESIGNATED_PORT_ID (\w+)
Value DESIGNATED_BRIDGE_PRIORITY (\w+)
Value DESIGNATED_BRIDGE_ID (\w+)
Value PORT_COST (\d+)
Value STATE (\w+)
Value ROLE (\w+)

Start
  ^${INTERFACE}\s+${PORT_PRIORITY}:${PORT_ID}\s+${DESIGNATED_PORT_PRIORITY}:${DESIGNATED_PORT_ID}\s+${DESIGNATED_BRIDGE_PRIORITY}.${DESIGNATED_BRIDGE_ID}\s+${PORT_COST}\s+${STATE}\s+${ROLE} -> Record
