Value ALL_TYPES (ALL TYPES)
Value TOTAL (\S+)
Value UP (\S+)
Value DOWN (\S+)
Value ADMIN_DOWN (\S+)

Start
  ^Interface\s+Type\s+Total\s+UP\s+Down\s+Admin\s+Down -> Begin

Begin
  ^-+\s
  ^ALL TYPES\s\s+${TOTAL}\s+${UP}\s+${DOWN}\s+${ADMIN_DOWN} -> Record
