Value ORDER_CODE (\S+)
Value SERIAL_NUMBER (\S+)
Value MAIN_VERSION (v\S+)
Value BOOT_VERSION (v\S+)


Start
  ^MAC 
  ^\S+\s+${ORDER_CODE}\s+\S+\s+${SERIAL_NUMBER}\s+${BOOT_VERSION}.+?${MAIN_VERSION} -> Record
