Value PROTOCOL ([OiBCS])
Value TYPE (\w{0,2})
Value PREFIX (\d+(\.\d+){3}\/\d{1,2})
Value DISTANCE (\d+)
Value METRIC (\d+)
Value NEXTHOP (\d+(\.\d+){3})

Start
	^${PROTOCOL}\s+${TYPE}\s+${PREFIX}\s+\[${DISTANCE}\/${METRIC}\]\s+via\s+${NEXTHOP} -> Next.Record