Value INTERFACE (\S+)
Value IP ([0-9.]+)
Value MAC (\S+)

Start
  ^\s*-- -> Start_record

Start_record
  ^\?\s+\(${IP}\)\s+at\s+${MAC}\s+(\[\S+\]\s*)?on\s+${INTERFACE} -> Record
  ^\s*--.*
  ^\s*$$
  ^. -> Error
